#signup {
	margin: 0px auto 0px auto;
	text-align: center;
	width: 95%;
}

.pass_checkbox {
	cursor: inherit;
}

input { /*Input styling*/
	font-size: 0.8em;
	padding: 3px;
	margin: 0px;
	outline: none;
	border: 1px solid #ccc;
	cursor: pointer;
}

