Options -Indexes

<Files LICENSE.md>
	order allow,deny
	deny from all
</Files>

<Files README.md>
	order allow,deny
	deny from all
</Files>

<Files .gitignore>
	order allow,deny
	deny from all
</Files>